html {
    font-size: 18px;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #212529;
    color: white;
}

.square-img {
    aspect-ratio: 1/1;
}

.square-img-small {
    max-width: 100px;
    aspect-ratio: 1/1;
}

.responsive-btn {
    font-size: clamp(18px,1vw,30px) !important;
}

.product-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    margin-bottom: .25rem;
    max-width: 100%;
}

.table-fixed {
    table-layout: fixed;
    width: 100%;
}

    .table-fixed td {
        vertical-align: middle;
        padding-top: .5rem;
        padding-bottom: .5rem;
        overflow: hidden;
    }


    .table-fixed th {
        vertical-align: middle;
        padding-top: .5rem;
        padding-bottom: .5rem;
        overflow: visible;
    }

    .table-fixed td .product-title {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 420px) {
    .product-title {
        font-size: 0.95rem;
    }
}

.modal .modal-content {
    color: #ffffff;
    background-color: #212529;
}

.modal .btn {
    color: #212529 !important;
}

    .modal .btn.btn-primary {
        color: #fff !important;
    }

    .modal .btn.btn-secondary {
        color: #fff !important;
    }

.product-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .product-image {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 767.98px) {
    .product-image {
        width: 300px;
        height: 300px;
    }
