html {
    font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #212529;
    color: white;
    
}

.square-img {
    aspect-ratio: 1/1;
}

.text-under-square, .responsive-btn {
    font-size: clamp(12px,1vw,30px) !important;
}
