html {
    font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #212529;
    color: white;
    
}

.square-img {
    aspect-ratio: 1/1;
}

.responsive-btn {
    font-size: clamp(18px,1vw,30px) !important;
}

.product-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    margin-bottom: .25rem;
    max-width: 100%;
}