@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Sklep z płytami</h1>
    <br/>



    <div class="container text-center">
        <div class="row row-cols-4">
            <div class="col"><img src="https://upload.wikimedia.org/wikipedia/en/5/55/Michael_Jackson_-_Thriller.png" alt="nie działa" /> Column</div>
            <div class="col"><img src="https://ecsmedia.pl/c/niepowstrzymany-b-iext125394762.jpg" alt="Alternate Text" width="300" height="300" />  Column</div>
            <div class="col"><img src="https://m.media-amazon.com/images/I/81fpG8LkWkL.jpg" alt="Alternate Text" width="300" height="300" /> Column</div>
            <div class="col"><img src="https://ecsmedia.pl/c/utopia-b-iext202871715.jpg" alt="Alternate Text" width="300" height="300" /> Column</div>
            <br/>
        </div>
        <div class="row row-cols-4">
            <div class="col"><img src="https://upload.wikimedia.org/wikipedia/en/5/55/Michael_Jackson_-_Thriller.png" alt="nie działa" /> Column</div>
            <div class="col"><img src="https://ecsmedia.pl/c/niepowstrzymany-b-iext125394762.jpg" alt="Alternate Text" width="300" height="300" />  Column</div>
            <div class="col"><img src="https://m.media-amazon.com/images/I/81fpG8LkWkL.jpg" alt="Alternate Text" width="300" height="300" /> Column</div>
            <div class="col"><img src="https://ecsmedia.pl/c/utopia-b-iext202871715.jpg" alt="Alternate Text" width="300" height="300" /> Column</div>
            <br />
        </div>
        <div class="row row-cols-4">
            <div class="col"><img src="https://upload.wikimedia.org/wikipedia/en/5/55/Michael_Jackson_-_Thriller.png" alt="nie działa" /> Column</div>
            <div class="col"><img src="https://ecsmedia.pl/c/niepowstrzymany-b-iext125394762.jpg" alt="Alternate Text" width="300" height="300" />  Column</div>
            <div class="col"><img src="https://m.media-amazon.com/images/I/81fpG8LkWkL.jpg" alt="Alternate Text" width="300" height="300" /> Column</div>
            <div class="col"><img src="https://ecsmedia.pl/c/utopia-b-iext202871715.jpg" alt="Alternate Text" width="300" height="300" /> Column</div>
            <br />
        </div>

    </div>


</div>
