@model IEnumerable<CdStore.Models.Album>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-5 fw-bold">Nasza oferta muzyczna</h3>
    <br />

    <div class="container text-center text-under-square">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
            @{
                foreach(var album in Model)
                {
                    <div class="col">
                        <img class="img-fluid square-img rounded" src="@album.OkladkaLink" alt="nie działa" />
                        <p class="product-title">@album.Tytul - @album.Artysta</p>
                        <p>Cena: @album.Cena</p>
                        <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a>
                    </div>
                }
            }
            </div>
    </div>
</div>