@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-5 fw-bold">Nasza oferta muzyczna</h3>
    <br/>



    <div class="container text-center text-under-square">
        <div class="row row-cols-4 g-4">
            <div class="col"><img class="img-fluid square-img rounded" src="https://upload.wikimedia.org/wikipedia/en/5/55/Michael_Jackson_-_Thriller.png" alt="nie działa" /> <p>Thriller - Michael Jackson</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a> </div>
            <div class="col"><img class="img-fluid square-img rounded" src="https://ecsmedia.pl/c/niepowstrzymany-b-iext125394762.jpg" alt="Alternate Text" /> <p>Niepowstrzymany - Gimpson</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a> </div>
            <div class="col"><img class="img-fluid square-img rounded" src="https://m.media-amazon.com/images/I/81fpG8LkWkL.jpg" alt="Alternate Text" /> <p>Scorpion - Drake</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a> </div>
            <div class="col"><img class="img-fluid square-img rounded" src="https://ecsmedia.pl/c/utopia-b-iext202871715.jpg" alt="Alternate Text" /> <p>Utopia - Travis Scott</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a> </div>
            <br/>
        </div>
        <div class="row row-cols-4 g-4">
            <div class="col"><img class="img-fluid square-img rounded" src="https://www.emp-shop.pl/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dw42eb8778/images/3/3/2/1/332112-emp.jpg?sw=1000&sh=800&sm=fit&sfrm=png" alt="nie działa" /> <p>Ride the Lightning - Metallica</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a></div>
            <div class="col"><img class="img-fluid square-img rounded" src="https://ecsmedia.pl/c/life-of-a-don-b-iext125835440.jpg" alt="Alternate Text" /> <p>Life of a don - Don Toliver</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a></div>
            <div class="col"><img class="img-fluid square-img rounded" src="https://www.slugmag.com/wp/wp-content/uploads/2024/09/LTGZDQ-1724699022-1500x1500-1724699013-Untitled-design-1.jpg.webp" alt="Alternate Text" /> <p>Short N' Sweet - Sabrina Carpenter</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a></div>
            <div class="col"><img class="img-fluid square-img rounded" src="https://cdn-images.dzcdn.net/images/cover/8c6578a2099561992fb7544e6826f767/0x1900-000000-80-0-0.jpg" alt="Alternate Text" /> <p>Graduation - Kanye West</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a></div>
            <br />
        </div>
        <div class="row row-cols-4 g-4">
            <div class="col"><img class="img-fluid square-img rounded" src="https://m.media-amazon.com/images/I/81OJxs2RJVL.jpg" alt="nie działa" /> <p>Highway to Hell - AC/DC</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a></div>
            <div class="col"><img class="img-fluid square-img rounded" src="https://m.media-amazon.com/images/I/71o7oddTy8L._UF350,350_QL50_.jpg" alt="Alternate Text" />  <p>Playboi Carti - Playboi Carti</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a></div>
            <div class="col"><img class="img-fluid square-img rounded" src="https://m.media-amazon.com/images/I/81sBKBIcwvL._UF894,1000_QL80_.jpg" alt="Alternate Text" /> <p>Abbey Road - The Beatles</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a></div>
            <div class="col"><img class="img-fluid square-img rounded" src="https://ecsmedia.pl/c/hot-space-deluxe-edition-w-iext197815873.jpg" alt="Alternate Text" /> <p>Hot Space (Deluxe) - Queen</p> <p>Cena: </p>  <a class="btn btn-outline-info responsive-btn">Dodaj do koszyka</a></div>
            <br />
        </div>

    </div>


</div>
