@{
    ViewData["Title"] = "Polityka prywatności";
}

<div class="container py-4">
    <h1 class="display-6">Polityka prywatności</h1>
    <hr />

    <h5>Jakie dane zbieramy</h5>
    <p>...</p>

    <h5>Cel przetwarzania</h5>
    <p>...</p>

    <h5>Kontakt</h5>
    <p>...</p>
</div>