@{
    ViewData["Title"] = "Regulamin";
}

<div class="container py-4">
    <section class="container my-5 text-white">
        <h1 class="mb-4">Regulamin sklepu internetowego "Muzyczni.pl"</h1>

        <h2>1. Postanowienia ogólne</h2>
        <p>
            1.1. Niniejszy regulamin określa zasady korzystania ze sklepu internetowego „Muzyczni.pl”
            oferującego sprzedaż albumów muzycznych w formie fizycznej oraz cyfrowej.<br>
            1.2. Sklep działa pod adresem: https://www.muzyczni.pl<br>
            1.3. Właścicielem sklepu jest: <strong>Muzyczni.pl Sp. z o.o.</strong>.
        </p>

        <h2>2. Warunki składania zamówień</h2>
        <p>
            2.1. Zamówienia można składać 24/7 za pośrednictwem strony internetowej sklepu.<br>
            2.2. Klient zobowiązuje się do podania prawdziwych danych osobowych.<br>
            2.3. Zawarcie umowy sprzedaży następuje w chwili potwierdzenia zamówienia przez sklep.
        </p>

        <h2>3. Ceny i płatności</h2>
        <p>
            3.1. Wszystkie ceny podane na stronie są cenami brutto i zawierają podatek VAT.<br>
            3.2. Sklep akceptuje płatności online, przelew tradycyjny oraz płatność kartą.<br>
            3.3. Koszty dostawy są przedstawiane podczas składania zamówienia.
        </p>

        <h2>4. Dostawa</h2>
        <p>
            4.1. Zamówienia realizowane są w dni robocze w ciągu 1–3 dni od zaksięgowania płatności.<br>
            4.2. Dostawa odbywa się za pośrednictwem firm kurierskich.<br>
            4.3. Sklep nie ponosi odpowiedzialności za opóźnienia wynikające z winy przewoźnika.
        </p>

        <h2>5. Reklamacje i zwroty</h2>
        <p>
            5.1. Klient ma prawo do złożenia reklamacji w przypadku otrzymania uszkodzonego towaru.<br>
            5.2. Zwrotu można dokonać w terminie 14 dni od daty otrzymania przesyłki.<br>
            5.3. Zwrot środków nastąpi w ciągu 14 dni od zaakceptowania zwrotu.
        </p>

        <h2>6. Postanowienia końcowe</h2>
        <p>
            6.1. Sklep zastrzega sobie prawo do zmiany regulaminu.<br>
            6.2. W sprawach nieuregulowanych zastosowanie mają przepisy Kodeksu Cywilnego.
        </p>
    </section>

</div>