@{
    ViewData["Title"] = "Regulamin";
}

<div class="container py-4">
    <h1 class="display-6">Regulamin sklepu</h1>
    <hr />

    <h5>1. Postanowienia ogólne</h5>
    <p>...</p>

    <h5>2. Zamówienia i płatności</h5>
    <p>...</p>

    <h5>3. Reklamacje</h5>
    <p>...</p>
</div>