@model CdStore.Models.Users

<h2>Moje konto</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<form method="post">
    <div class="form-group">
        <label class="text-muted">Imię i nazwisko</label>
        <input asp-for="FullName" class="form-control bg-dark text-white" />
    </div>

    <div class="form-group">
        <label class="text-muted">Email</label>
        <input asp-for="Email" class="form-control bg-dark text-white" />
    </div>

    <button class="btn btn-outline-info mt-3" type="submit">Zapisz zmiany</button>
</form>